
.idea/workspace.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/CntMetrics.iml
__pycache__/dj_shapes.cpython-38.pyc
__pycache__/dj_shapes_utils.cpython-38.pyc
results/CesarianoEmpirical.xlsx
results/daVinciEmpirical.xlsx
shapesLib/twocats_square.jpg
